<div class="container-fluid">
	
	<div class="row">
		<div class="col-sm-4">
			<div class="thumbnail">
				<%= image_tag 'all_bobbleheads.png', class: 'img-responsive', size: '600x600' %>
				<p> All bobbleheads </p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<%= image_tag 'maps/bobbleheads_map.jpg', class: 'img-responsive', size: '600x600' %>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="thumbnail">
				<%= image_tag 'all_bobbleheads.png', class: 'img-responsive', size: '600x600' %>
			</div>
		</div>
		<!-- row -->
	</div>

	<h1> Made it to Bobb </h1>

	<h1> <%= @bobbleheads.count %> </h1>





<!-- cont -->
</div>