<div class="row">

  <div class="col-sm-7">
    
    <h2>About Magazines</h2>
    <br>
    <h4>In Fallout 4, each bobblehead increases a corresponding S.P.E.C.I.A.L. stat permanently by one. Bobbleheads that previously increased a skill now grant a permanent unique perk.</h4>

    <br>
    <br>
    <% if current_user %>
      <%= link_to 'Your Dashboard', dashboard_path, class: 'btn btn-default button-round' %>      
    <% end %>
    <%= link_to 'Click here to see all bobbleheads', bobbleheads_path, class: 'btn btn-info btn-lg button-round' %>

  </div>

  <div class="text-center thumbnail col-sm-5">
    <%= image_tag 'bobs/bob-5.jpg', alt: 'All bobbleheads', class: 'img-responsive image-round slideanim'%>
    <p> All bobbleheads </p>
  </div>

<!--  -->
</div>

