<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <% if current_user %>
          <li> <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger glyphicon-log-out' %> </li>
        <% else %>
          <li> <%= button_to 'Log in', new_user_session_path,method: :get, class: 'btn btn-default' %> </li>
          <li> <%= button_to 'Sign up', new_user_registration_path,method: :get, class: 'btn btn-default' %> </li>
        <% end %>
      </ul>
    </div>

    <!--  -->
  </div>
</nav>
